@import 'tailwindcss';

@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..28&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap);


@theme{
    --font-nunito: 'Nunito', sans-serif;
    --font-hedvig: 'Hedvig Letters Serif', serif;
    --font-hedvig-sans: 'Hedvig Letters Sans', sans-serif;
}

.swiper {
  padding-bottom: 40px !important;
}

.swiper-pagination {
    bottom: 0px !important;
}

.swiper-pagination-bullet {
    background: #CBD5E0 !important; 
    width: 10px !important;
    height: 10px !important;
}

.swiper-pagination-bullet-active {
    background: #61A9CC !important; 
}

.swiper-navigation-button {
    color: #61A9CC !important; 
}